# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
Assignment[0-9]
Assignment[0-9][0-9]

# VS Code settings
.vscode/

# Binary files without extension
*
!/**/
!*.*
